* {
    box-sizing: border-box;
  }

body{
    font: bold 15px Arial, Helvetica, sans-serif;
    background-color: rgb(206, 179, 179);
}
div{
    border: 3px solid rgb(116, 2, 2);
    background-color: rgb(255, 255, 255);
}
.container{
    display: grid;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    
}
.hover{
    background-color: black;
}
.container div{
    padding: 10px;
}
button{
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: seagreen;
    color: white;
    border: 3px solid rgb(28, 87, 53);
    border-radius: 10px;
}